body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  background-image: url("https://photos.app.goo.gl/tTusn1EKfjyXfks98");
  background-position: center;
  background-size: contain;
  padding: 20px;
}
