body {
  font-family: "Times New Roman", Times, serif;
  background-color: #414141;
  background-image: url("https://i.imgur.com/vJc2Wad.png");
  background-position: center;
  background-size: 100%;
  background-origin: border-box;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
.card-list {
  list-style-type: none;
  padding: 0;
}

.card {
  width: 57%;
  background-color: #1a1a1a;
  color: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
  padding: 20px;
}

.card-title {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 10px;
}

.card-description {
  font-size: 16px;
  margin-bottom: 10px;
}

.card-topic,
.card-username {
  font-size: 14px;
  color: #ff5733; /* Adjusted color to match theme */
}

a img {
  width: 20px;
  height: 20px;
}

a {
  margin-bottom: 20px; /* Added margin to match card margin */
}
